.indirim{
    color: #999;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    font-family: "Source Sans 3", sans-serif;
}
.indirim:hover{
    color: #1b1b1b;
    text-decoration: none;
}

.giris{
    font-family: "Source Sans 3", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    color: #333333;
    padding-left: 5px;
    margin-top: 2px;
}
.giris:hover{
    color: #f27a1a;
}

.ilkSira{
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-size: 14px;
    line-height: 34px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 0.18px;
    font-family: "Source Sans 3", sans-serif;
}
.by:hover{
    color: #f27a1a !important;
    text-decoration: underline;


}

.anaSayfa{
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    font-family: "Source Sans 3", sans-serif;
}
.anaSayfa:hover{
    color: #333;
    text-decoration: underline;
}

.yazi{
    color: #333;
    font-family: "Source Sans 3", sans-serif;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
}
.yazi:hover{
    text-decoration: underline;
    color: #333;
}
.marc{
    color: #333;
    font-weight: normal;
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    line-height: 26px;
}
.kamera{
    color: #666;
    text-decoration: none;
    font-size: 12px;
    font-family: "Source Sans 3", sans-serif;
}
.kamera:hover{
    color: #f27a1a;
    text-decoration: underline;
}
.soru{
    color: #666;
    text-decoration: none;
    font-size: 12px;
    font-family: "Source Sans 3", sans-serif;
}
.soru:hover{
    color: #f27a1a;
    text-decoration: underline;
}
.favori{
    color: #666;
    text-decoration: none;
    font-size: 12px;
    font-family: "Source Sans 3", sans-serif;
    text-align: justify;
}
.favori:hover{
    color: #f27a1a;
    text-decoration: underline;
}
.fiyat{
    font-family: "Source Sans 3", sans-serif;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;
    color: #f27a1a;
    line-height: 24px;
    justify-content: space-between;
    margin-top: 20px;
}

.sepet{
    width: 85%;
    height: 48px;
    border: none;
    border-radius: 8px;
    background: #f27a1a;
    font-size: 18px;
    letter-spacing: .03em;
    color: #fff;
    cursor: pointer;
    transition: all .3s step-start;
    overflow: hidden;
    font-family: "Source Sans 3", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 20px;

}
.sepet:hover{
    background-color: #b84f0a;
}

.kamyonet{
    background-color: #effbf5;
    padding: 8px;
    border-radius: 8px;
    text-align: start;
    justify-content: start;
    display: flex;
    width: 100%;
    margin: 0;
    font-size: 13px;
    font-family: "Source Sans 3", sans-serif;
    vertical-align: middle;
}
.yesil{
    display: flex;
    color: #333;
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.balon{
    width: 155px;
    height: 38px;
    border-radius: 8px;
    border: 0;
    vertical-align: middle;
}

.feature{
    color: #333;
    font-size: 14px;
    font-weight: 600;
    margin: 24px 0 16px;
    padding: 0;

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    gap: 8px;
}
.grid-item {
    display: inline-grid;
    border: solid #f5f5f5;
    background-color: #f5f5f5;
    padding: 8px 12px;
    width: 95px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    min-width: 43%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    list-style: none;
    color: #333;
    margin: 0;
  }

  .cosmo{
    font-size: 13px;
    color: #666;
    line-height: 28px;
    font-family: "Source Sans 3", sans-serif;
  }
  .cosmo:hover{
    color: #666;
  }
  .brain{
    margin: 0;
    padding: 0;
    line-height: 28px;
    font-size: 13px;
    color: #666;
  }

 .aramaMotoru{
    margin: 0;
    padding: 0;
    font-size: 13px;
    height: auto;
    line-height: unset;
    width: 48px;
    height: 48px;
    background-color: #f3f3f3;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 6px;
    box-sizing: border-box;
    outline: none;
    
 }
 .aramaMotoru:hover{
    color: #f27a1a !important;
    border-color: #f27a1a;
 }
 .buyutec{
    color: #f27a1a;
    background-color: #f3f3f3;
 }

 .fatura{
    font-size: 12px;
    line-height: 18px;
    color: #333;
    font-style:"Source Sans 3", sans-serif;
    display: flex;
    align-items: center;
    background-color: #ebf5ff;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    margin: 0;
    
 }
 .card-title{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #333;
    font-style:"Source Sans 3", sans-serif;
    margin: 0;
    padding: 0;
 }

 .urunKampanya{
    font-size: 10px;
    line-height: 18px;
    font-weight: 600;
    color: #999;
    font-style:"Source Sans 3", sans-serif;
    letter-spacing: .05rem;
    margin: 0;
    padding: 0;
    margin-top: 20px;
 }

 .kutu{
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    padding: 8px 12px 8px 8px;
    background-color: #fff;
    display: block;
    margin: 0;
    margin-top: 10px;
    font-size: 13px;
    font-style:"Source Sans 3", sans-serif;
    color: #333;
    border-radius: 8px;
    width: 200px;
    margin-bottom: 5px;
 }
 .kutu:hover{
    box-shadow: 0 4px 16px #00000014;
 }

 .adet{
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    padding: 8px 12px 8px 8px;
    background-color: #fff;
    display: block;
    margin: 0;
    font-size: 13px;
    color: #333;
    font-style:"Source Sans 3", sans-serif;
    border-radius: 8px;
    width: 200px;
    margin-bottom: 10px;
 }
 .adet:hover{
    box-shadow: 0 4px 16px #00000014;
 }
 .resim{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 1px;
    border-radius: 4px;
    border: 0;
    vertical-align: middle;
 }
 .ok{
    font-size: 10px;
    margin: auto 0 auto auto;
 }
 .ok:hover{
    color: #f27a1a;
 }

 .magaza{
    color: #1f6bc1;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    text-decoration: none;

 }
 .ins{
    padding: 8px 12px 8px 8px;
    background-color: #ebf5ff;
    border-radius: 4px;
    margin-bottom: 8px;
    display: block;
    border: 1px solid #E6E6E6;
    margin: 0;
    border-radius: 8px;
    width: 200px;
    margin-bottom: 5px;

 }
.magaza:hover{
    text-decoration: underline;
}
.puan{
    position: relative;
    width: 100%;
    max-width: 30px;
    display: inline-block;
    margin-left: 4px;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
    cursor: pointer;
    font-style:"Source Sans 3", sans-serif;
}
.bilgi{
    
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #64a4ee;
}
.bilgi:hover{
    color: #1f6bc1;
}
.cosmoland{
    background-color: #fff;
    font-size: 14px;
    padding: 8px 12px 8px 8px;
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    margin-bottom: 32px!important;
    display: block;
    border: 1px solid #E6E6E6;
    margin: 0;
    width: 200px;
    
 }
 .ekip{
    padding: 8px 12px;
    background-color: #ebf5ff;
    border-radius: 4px;
    margin-bottom: 8px;

 }
.hizli{
    display: flex;
    gap: 8px;
    margin-top: 8px;
    
}
 .hediye{
    color: #666;
    
    
}
 .hediye:hover{
    color: #b84f0a;
 }
 .takip{
    font-size: 13px;
    font-weight: 600;
    font-family: sans-serif;
    


 }
 
 .kalp{
    color: #8c8c8c;
    font-size: 25px;
    line-height: 2;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    

 }
 .daire{
    position: relative;
    min-width: 48px;
    height: 48px;
    margin: 0 0 0 15px;
    border-radius: 50%;
    border: solid 1px #e6e6e6;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    justify-content: center;
 
    
 }
 .daire:hover{
    box-shadow: 0 4px 16px #00000014;
 }
 .kalp:hover{
    color:#f27a1a;
 }

 .git{
    cursor: pointer;
    background: #F5F5F5;
    border-radius: 100px;
    padding: 8px 0;
    text-align: center;
    transform: translateY(50%);
    line-height: 15px;
    width: 180px;
    margin: 0 auto;
    display: block;
    font-size: 12px;
    color: #333;
    letter-spacing: 1.2px;
    line-height: 15px;
    font-style: sans-serif;
    text-align: center;
 }
 .git:hover{
    color: #f27a1a;
    background-color: #ffeee0;
 }
